/* Profile header */
header #hello h1{
    margin: 0;
    text-align: center;
}

header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: goldenrod 3px solid;
}

/* introduction */
.imgwrapper{
    max-width: 100px;
    min-width: 30px;
    object-fit: cover;
    vertical-align: auto;
}

.imgtextwrapper{
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10rem;
    width: auto;
}

.textwrapper{
    flex: 1;
    text-align: justify;
}

#Profile {
    background-color: goldenrod;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    width: 90%;
    align-content: center;
    margin: 5%;
    margin-top: 20px;
}
 
/* Body View */
body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* Contact and Skills Area */
.skills, .contact, .education{
    background: #35424a;
    color: #ffffff;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: #cccccc solid 1px;
    text-align: left;
    border-radius: 15px;
    justify-content: space-around;
    object-fit: cover;
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-size: clamp(12px, 2.5vw, 16px);
    line-height: 1.3;
}

a {
    color: goldenrod;
}

#contactandskills{
    width: 30%;
    float: left;
}

#experience{
    width: 65%;
    flex: 2;
    text-align: justify;
    margin: 0;
}

.access, .palmpay, .kekeads, .champion, .kaduna{
    list-style: none;
    padding: 10px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6ee;
    border-radius: 5px;
}

#experiencecontactskills{
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10rem;
    width: auto;
    padding-bottom: 100%;
}

footer{
    padding: 20px; 
    margin-top: 20px;
    color: #ffffff;
    background-color: goldenrod;
    text-align: justify;
    align-content: center;
    
}
